.icon_div_main {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.img_div {
  position: relative;
  cursor: pointer;
}
.pop_up_compoent {
  position: absolute;
  top: 70px;
  right: 0px;
  background-color: white !important;
  border: 1px solid black;
  visibility: hidden;
  transition: visibility 0.3s ease-in-out;
  z-index: 999;
}
.show_popup {
  visibility: visible !important;
}
.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
.icons .search_div {
  position: absolute;
  top: 53px;
  left: 0px;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.active {
  visibility: visible !important;
}
.icons .search_input {
  outline: none !important;
  border: 1px solid #666666 !important;
  padding: 2px 3px;
  border-radius: 5px;
  /* max-width: 100px; */
}
.icon_size {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
img.icon_size {
  margin-left: 20px;
}
.btn_black {
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 700;
  height: 37px;
  width: 73px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
.nav_main_width {
  width: 100%;
}
.increase_width_left {
  width: 70%;
  justify-content: space-between;
}

@media screen and (max-width: 750px) {
  .increase_width_left {
    max-width: 30%;
  }
}
